@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.main{
  display: flex;
  /* justify-content: center; */
  align-items: center;
  height: 100vh;
  background-color: #212121;
  color: whitesmoke;
  flex-direction: column;
}

.main-header{
  font-family: 'Montserrat', sans-serif;
}

.create-form label{
  color: whitesmoke !important;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px !important;
}

.header{
  display: flex;
  background-color: #212121;
  color: whitesmoke;
  padding: 30px;
  justify-content: center;

}
#create{
  margin-left: 20px;
}
.read-table{
  font-size: 20px !important;
}
.search-table{
  font-size: 20px !important;
}
.search-bar{
  justify-content: center;
  align-items: center;
  margin-left: 1020px;
  margin-bottom: 2px;
}